/*<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">*/

@media screen and (min-width: 900px) {

body {  
  margin-top:10px;
}
}
.center{  
 text-align: center;
  color: black;
}
.aden0{
 display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: #d1d5d1;
  width: 1000px;
  height: 1000px;
  /*border: solid;*/
  float:left;
  /*margin-top:60px;
  padding: 5px;*/
}
h2{
  color: black;
}
p{
  font-family: Lobster;
  font-size: 13px;
  font-style: italic;
  line-height: 1.5em;
  padding: 5px;
  color:black;
}
  .smaller-image {
    width: 950px;
    height: 280px;
  }
figcaption {
    margin: 5px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}
figure {
    padding: 5px;
}
#images a{
    display:inline-block;
    color:black;
 }
.circle {
    border-radius: 50%;
    width: 230px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.greenb{
    border: 2px solid green;
}
.listp{
  color: black;
}
.imagescolume{
  display: flex;
}
.figureflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top{
  align-items: center;
}
.foot{
  border-top: 1px solid rgb(180, 164, 20);
  /*height: 35px;*/
}
.figurecolum{
  display: flex;
  flex-direction: column;
  align-self: center;
}